body {
  background-image: url('../images/runners.png');
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 85px;
}

#splashpage, #editruns, #addruns, #login, #createaccount{
  text-align: center;
}

.submitruns {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#recordid {
  display: none;
}