body {
  background-image: url('../images/runners.png');
  background-repeat: no-repeat;
  background-position: top center;
}

viewruns  {
  text-align: center;
}

editruns {
  text-align: center;
}
 

