body {
  background-image: url('../images/runners.png');
  background-repeat: no-repeat;
  background-position: top center;
}

#splashpage {
  text-align: center;
}
#addruns {
  text-align: center;
}

.submitruns {
  display: block;
}

#recordid {
  display: none;
}